<%- include('../admin/layouts/adminHeader') %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  
<div class="col-lg" style="align-items: center">
  <div class="card">
    <div class="card-body">
      <form action="/admin/coupons/addcoupon" method="post">
        <div class="form-group">
          <label>Coupon Code</label>
          <input type="text" class="form-control" name="code" required />
        </div>
        <div class="mt-2">
          <input type="radio" id="html" name="status" value="Active" required checked>
          <label for="html">Active</label><br>
          <input type="radio" id="css" name="status" value="Deactive" required>
          <label for="css">Deactive</label><br>
        </div>
        <div class="form-group mt-3">
          <label>Discount</label>
          <input type="number" class="form-control" name="discount" required />
        </div>
        <div class="form-group">
          <label>Minimum Purchase Amount</label>
          <input type="number" class="form-control" name="minimum_purchase" required />
        </div>
        <div class="form-group">
            <label>Expiry Date</label>
            <input type="text" class="form-control" id="datepicker" name="expiry" required />
          </div>
        <button type="submit" class="btn btn-primary mt-5 ">Submit</button>
      </form>
      <p style="color: rgb(255, 17, 17);"><%= message %></p>
    </div>
  </div>
</div>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
