<section class="bg-secondary py-4 pt-md-5">
    <div class="container py-xl-2">
      <div class="row">
        <!-- Slider     -->
        <div class="col-xl-9 pt-xl-4 order-xl-2">
          <div class="tns-carousel">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;loop&quot;: false}">
              <div>
                <div class="row align-items-center">
                  <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="https://www.freepnglogos.com/uploads/fruits-png/fruits-heart-fruit-png-transparent-image-pngpix-6.png" alt="VR Collection"></div>
                  <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                    <h2 class="fw-light pb-1 from-bottom">World of health with</h2>
                    <h1 class="display-4 from-bottom delay-1">Organics</h1>
                    <h5 class="fw-light pb-3 from-bottom delay-2"></h5>
                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row align-items-center">
                  <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="img/home/banners/Slider-3.png" alt="VR Collection"></div>
                  <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                    <h2 class="fw-light pb-1 from-start">Explore the best</h2>
                    <h1 class="display-4 from-start delay-1">Collection</h1>
                    <h5 class="fw-light pb-3 from-start delay-2">on the market</h5>
                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row align-items-center">
                  <div class="col-md-6 order-md-2"><img class="d-block mx-auto" src="https://o.remove.bg/downloads/0e39d82d-c739-4fdf-b84c-83615844b9e5/green-tea-11539958818lchhcmcz3r-removebg-preview.png" alt="VR Collection"></div>
                  <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                    <h2 class="fw-light pb-1 scale-up">Check our huge</h2>
                    <h1 class="display-4 scale-up delay-1">Shop</h1>
                    <h5 class="fw-light pb-3 scale-up delay-2"></h5>
                    <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="shop-grid-ls.html">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner group-->
        <div class="col-xl-3 order-xl-1 pt-4 mt-3 mt-xl-0 pt-xl-0">
          <div class="table-responsive" data-simplebar>
            <div class="d-flex d-xl-block"><a id="banner" class="d-flex align-items-center  rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="#" style="min-width: 16rem;"><img src="img/home/banners/Juice_apple.jpg" width="125" alt="Banner">
                <div class="py-4 px-2">
                  <h5 class="mb-2"><span class="fw-light">Bringing You</span><br>The Nature's<span class="fw-light">Best At Its</span><br>Purest</h5>
                  <div class=" fs-sm" style="max-width: 85px; color:#ff0024;">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                </div></a><a id="banner1"  class="d-flex align-items-center rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="#" style="min-width: 16rem;"><img src="img/Products/Lemon.jpg" width="125" alt="Banner">
                <div class="py-4 px-2">
                  <h5 class="mb-2"><span class="fw-light">Top Rated</span><br>Honey<br><span class="fw-light">are on </span>Sale</h5>
                  <div class="text-warning fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                </div></a><a id="banner3" class="d-flex align-items-center rounded-3 pt-2 ps-2 mb-4" href="#" style="min-width: 16rem;"><img src="https://thumbs.dreamstime.com/b/pineapple-solid-color-background-one-147069204.jpg" width="125" alt="Banner">
                <div class="py-4 px-2">
                  <h5 class="mb-2"><span class="fw-light">Catch Big</span><br>Deals <span class="fw-light">on</span><br>Vegitables</h5>
                  <div class="text-success fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  