<!-- Vendor scrits: js libraries and plugins-->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/drift-zoom/dist/Drift.min.js"></script>
<script src="/vendor/lightgallery.js/dist/js/lightgallery.min.html"></script>
<script src="/vendor/lg-video.js/dist/lg-video.min.html"></script>
<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
</body>

<!-- Mirrored from cartzilla.createx.studio/home-electronics-store.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Dec 2022 04:00:39 GMT -->
</html>
