<%- include('../users/layouts/head') %>
<%- include('../users/layouts/header') %>
<div id="content" class="site-content">				
    <!-- Slideshow -->		
    <div class="section slideshow">
        <div class="tiva-slideshow-wrapper">
            <div id="tiva-slideshow" class="nivoSlider">
                <a href="#">
                    <img class="img-responsive" src="img/slideshow/home3-slideshow-1.jpg" alt="Slideshow Image">
                </a>
                <a href="#">
                    <img class="img-responsive" src="img/slideshow/home3-slideshow-2.jpg" alt="Slideshow Image">
                </a>
                <a href="#">
                    <img class="img-responsive" src="img/slideshow/home3-slideshow-3.jpg" alt="Slideshow Image">
                </a>
            </div>
        </div>
    </div>
    
    
<%- include('../users/products') %>
<!-- Intro -->
<div class="section intro">
    <div class="block-content">
        <div class="container">
            <div class="intro-content">
                <div class="row">
                    <div class="title">Why Choose Us</div>
                    <div class="col-lg-6 col-md-6 col-xs-6 item up-left">
                        <h4>100% Natural</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 item up-right">
                        <h4>Always Fresh</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 item down-left">
                        <h4>Premium Quality</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 item down-right">
                        <h4>Super Healthy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section products-block product-tab nav-color show-hover nav-round best-sellers">
    <div class="block-title">
        <h2 class="title">Best <span>Sellers</span></h2>
        <div class="sub-title">Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod tempor</div>
    </div>
    
    <div class="block-content">
        <!-- Tab Navigation -->
        <div class="tab-nav">
            <ul>
                <li class="active">
                    <a data-toggle="tab" href="#all-products">
                        <img src="img/product/product-category-0.png" alt="All Product">
                        <span>All Products</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#vegetables">
                        <img src="img/product/product-category-1.png" alt="Vegetables">
                        <span>Vegetables</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#fruits">
                        <img src="img/product/product-category-2.png" alt="Fruits">
                        <span>Fruits</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#bread">
                        <img src="img/product/product-category-3.png" alt="Bread">
                        <span>Bread</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#juices">
                        <img src="img/product/product-category-4.png" alt="Juices">
                        <span>Juices</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tea">
                        <img src="img/product/product-category-5.png" alt="Tea">
                        <span>Tea</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <!-- Tab Content -->
        <div class="tab-content">
            <!-- All Products -->
            <div role="tabpanel" class="tab-pane fade in active" id="all-products">
                <div class="products owl-theme owl-carousel">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/4.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/8.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$120.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/9.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star on"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/10.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$96.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/33.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/5.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/6.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Vegetables -->
            <div role="tabpanel" class="tab-pane fade" id="vegetables">
                <div class="products owl-theme owl-carousel">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/8.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$120.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/10.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$96.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/4.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/33.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/5.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/6.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/9.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star on"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Fruits -->
            <div role="tabpanel" class="tab-pane fade" id="fruits">
                <div class="products owl-theme owl-carousel">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/4.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/5.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/6.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/8.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$120.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/9.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star on"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/10.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$96.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/33.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Bread -->
            <div role="tabpanel" class="tab-pane fade" id="bread">
                <div class="products owl-theme owl-carousel">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/4.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/8.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$120.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/5.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/6.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/9.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star on"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/10.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$96.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/33.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Juices -->
            <div role="tabpanel" class="tab-pane fade" id="juices">
                <div class="products owl-theme owl-carousel">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/4.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/8.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$120.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/9.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star on"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/10.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$96.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/5.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/6.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/33.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Tea -->
            <div role="tabpanel" class="tab-pane fade" id="tea">
                <div class="products owl-theme owl-carousel">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/4.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/8.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$120.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/9.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star on"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>	
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/10.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$96.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/33.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/5.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="product-item">
                        <div class="product-image">
                            <a href="product-detail-left-sidebar.html">
                                <img src="img/product/6.jpg" alt="Product Image">
                            </a>
                        </div>
                        
                        <div class="product-title">
                            <a href="product-detail-left-sidebar.html">
                                Organic Strawberry Fruits
                            </a>
                        </div>
                                
                        <div class="product-rating">
                            <div class="star on"></div>
                            <div class="star on"></div>
                            <div class="star on "></div>
                            <div class="star on"></div>
                            <div class="star"></div>
                        </div>
                                
                        <div class="product-price">
                            <span class="sale-price">$80.00</span>
                            <span class="base-price">$90.00</span>
                        </div>
                                        
                        <div class="product-buttons">
                            <a class="add-to-cart" href="#">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            </a>
                            
                            <a class="add-wishlist" href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>												
                            </a>
                            
                            <a class="quickview" href="#">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../users/layouts/footer') %>


