<%- include('../users/layouts/head') %>
<img style="width: 50px; height: 50px;" src="https://static.vecteezy.com/system/resources/previews/010/829/962/original/green-tick-checkbox-illustration-isolated-free-png.png" alt="">
<h1>Order Successfully Placed</h1>
	<p>Thank you for your order!</p>
	<p>Your order number is <%= newOrder._id %></p>
	<p>Estimated delivery date:</p>
	<p>Total amount: </p>
<%- include('../users/layouts/foot') %>