<%- include('../users/layouts/head') %>
<div  style="justify-content: center;align-items: center; text-align: center;margin-top: 200px;">
	<img style="width: 50px; height: 50px;" src="https://static.vecteezy.com/system/resources/previews/010/829/962/original/green-tick-checkbox-illustration-isolated-free-png.png" alt="">
	<h1>Order Successfully Placed</h1>
		<p>Thank you for your order!</p>
		<a href="/getallproducts">Contenue Shopping</a>
		
</div>
<%- include('../users/layouts/foot') %>